* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;
  margin: 1em;
  color: rgb(69, 66, 228);
}

ol {
  margin: 1em;
  padding: 1em;

  li {
    margin: 0.5em;
    padding: 0.5em;
    list-style-type: none;
    border: 1px solid black;
  }
}

#tabs-1 {
  color: white;
}

#columns {
  .card {
    cursor: pointer;
  }

  fieldset {
    margin: 1em;
    text-align: center;

    h2 {
      margin: 1em;
    }
  }
}
